/* font */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

/* body margin */
body{
    margin:0;
}

/* header */
header{
    display:flex;
    justify-content: space-between;
    width:1600px;
    height:92px;
    padding:16px 120px 16px 120px;
    background-color: #ffffff;
    align-items:center;
}


header ul{
    width:365px;
    height:24px;
    list-style-type: none;
    display:flex;
    gap:32px;
}

header ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size:16px;
    color:#000000;
    
}


.btn{
    width:164px;
    height:44px;
    border-radius: 4px;
    padding:12px 16px 12px 16px;
    background-color:#30B868;
    color:#ffffff;
    font-weight: 600;
    font-size:16px;
    border:none;
    cursor:pointer;


}

/* End of Header */



/* Hero Section/Banner Section */

#hero-section{
    width:1700px;
    height:674px;
    padding:70px 120px 134px 120px;
    gap:40px;
    color:#ffffff;
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    
   
    
}

.banner{
    width:85%;
    max-width:1360px;
    height:379px;
    text-align:center;
    margin:0 auto;

}



.banner-text button{
    display:inline-flex;
    align-items:center;
    gap:6px;

    width:229px;
    height:35px;
    border-radius:1000px;
    padding:8px 12px 8px 12px;
    background-color: #ffffff;
    color:#30B868;
    font-size:16px;
    font-weight: 600;
    cursor:pointer;
    border:none;
    text-align:center;
    

}

.icon{
    width:16px;
    height:16px;
    border-radius:50%;
    background:#6fbf8a;
    box-shadow:inset 0 0 0 5px #bfe6cf;
}


.banner-title{
    color:#ffffff;
    font-size:72px;
    line-height:84px;
    font-weight:700;
    text-align:center;
    margin:16px 295px;

}

.banner-title span{
    color:#30B868;
}


.banner-text p{
    font-weight:400px;
    font-size:18px;
    line-height:24px;
    text-align:center;
    margin:0px 300px;
}


.banner .banner-button{
    width:465px;
    height:52px;
    display:flex;
    gap:16px;
    margin:32px 447.5px 0px 447.5px;
    justify-content:center;
    align-items:center;

}

.banner-button .btn1{
    width:251px;
    height:52px;
    display:inline-flex;
    gap:10px;
    padding:12px 16px;
    border-radius:4px;
    background-color:#30B868;
    justify-content:center;
    align-items:center;
    color:#ffffff;
    font-size:16px;
    font-weight:600px;


}

.banner-button .btn2{
    width:198px;
    height:52px;
    border:1px;
    display:inline-flex;
    gap:10px;
    padding:12px 16px;
    border-radius:4px;
    background-color:#30B868;
    justify-content:center;
    align-items:center;
    color:#ffffff;
    font-size:16px;
    font-weight:600px;

}