/* font */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

/* body margin */
body{
    margin:0;
}

/* header */
header{
    display:flex;
    justify-content: space-between;
    width:1600px;
    height:92px;
    padding:16px 120px 16px 120px;
    background-color: #ffffff;
    align-items:center;
}


header ul{
    width:365px;
    height:24px;
    list-style-type: none;
    display:flex;
    gap:32px;
}

header ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size:16px;
    color:#000000;
    
}


.btn{
    width:164px;
    height:44px;
    border-radius: 4px;
    padding:12px 16px 12px 16px;
    background-color:#30B868;
    color:#ffffff;
    font-weight: 600;
    font-size:16px;
    border:none;
    cursor:pointer;


}

/* End of Header */



/* Hero Section/Banner Section */

#hero-section{
    width:1600px;
    height:674px;
    padding:70px 120px 134px 120px;
    gap:40px;
    color:#ffffff;
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    
   
    
}

.banner{
    width:85%;
    max-width:1360px;
    height:379px;
    text-align:center;
    margin:0 auto;

}



.banner-text button{
    display:inline-flex;
    align-items:center;
    gap:6px;

    width:229px;
    height:35px;
    border-radius:1000px;
    padding:8px 12px 8px 12px;
    background-color: #ffffff;
    color:#30B868;
    font-size:16px;
    font-weight: 600;
    cursor:pointer;
    border:none;
    text-align:center;
    

}

.icon{
    width:16px;
    height:16px;
    border-radius:50%;
    background:#6fbf8a;
    box-shadow:inset 0 0 0 5px #bfe6cf;
}


.banner-title{
    color:#ffffff;
    font-size:72px;
    line-height:84px;
    font-weight:700;
    text-align:center;
    margin:16px 295px;

}

.banner-title span{
    color:#30B868;
}


.banner-text p{
    font-weight:400px;
    font-size:18px;
    line-height:24px;
    text-align:center;
    margin:0px 300px;
}


.banner .banner-button{
    width:465px;
    height:52px;
    display:flex;
    gap:16px;
    margin:32px 447.5px 0px 447.5px;
    justify-content:center;
    align-items:center;

}

.banner-button .btn1{
    width:251px;
    height:52px;
    display:inline-flex;
    gap:10px;
    padding:12px 16px;
    border-radius:4px;
    background-color:#30B868;
    justify-content:center;
    align-items:center;
    color:#ffffff;
    font-size:16px;
    font-weight:600px;
    cursor:pointer;


}

.banner-button .btn2{
    width:198px;
    height:52px;
    border:1px;
    display:inline-flex;
    gap:10px;
    padding:12px 16px;
    border-radius:4px;
    background-color:#30B868;
    justify-content:center;
    align-items:center;
    color:#ffffff;
    font-size:16px;
    font-weight:600px;
    cursor:pointer;

}

/* EOF hero Section */


/* cards and notes */

#note-card{
    width:1600px;
    height:448px;
    padding:0px 120px;

}

#note-card .note-text{
    width:85%;
    max-width:1360px;
    height:152px;
    gap:16px;
    margin:0 auto;
    
}

.note-text h2{
    font-weight:bold;
    font-size:48px;
    color:#001931;
    text-align:center;
}

.note-text p{
    font-size:16px;
    text-align:center;
    font-weight:400;
    font-size:16px;
    line-height: 20px;
    color:#627382;
}

#note-card .card-box{
    width:85%;
    max-width: 1360px;
    height: 300px;
    margin-top:44px;
    margin:0 auto;
    display:flex;
    gap:24px;

}

.card-box .card{
    width:322px;
    height:300px;
    padding:24px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:16px;
    box-shadow:0 0 8px 0 rgba(0,0,0,0.06);
    background-color: #ffffff;
    border-radius:8px;



}

.card-box .card h4{
    font-weight:600;
    font-size:24px; 
    text-align:center;
    color:#001931; 
    text-transform: capitalize;

}

.card-box .card p{
    font-size:16px;
    text-align:center;
    color:#627382;
    line-height:20px;
    font-weight:400;

}

.card-box .card img{
    width:32px;
    height:32px;
    
}

.img-design{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color:#f95555;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items:center;
}

/* EOF of Cards and Notes */

/* start of second Brain */

#second-brain{
    width:1600px;
    height:840px;
    padding:120px;
    background-color:#ffffff;

}

#second-brain .container{
    width:85%;
    max-width:1360px;
    height:600px;
    display:flex;
    gap:60px;
    justify-content: flex-start;
    align-items:center;
    margin:0 auto;

}

#second-brain .container .knowledge{
    width:600px;
    height:600px;
    border-radius:12px;

}


#second-brain .container .text-content .title{
    font-size:16px;
    line-height: 20px;
    text-align:left;
    color:#30B868;
    text-transform: uppercase;
    font-weight:500;


}

#second-brain .container .text-content h2{
    margin-top:16px;
    font-weight:bold;
    font-size:48px;
    text-align:left;
    text-transform: capitalize;
    color:#001931;
    line-height:100%;

}

#second-brain .container .text-content .desc{
    margin-top:16px;
    font-weight:400;
    text-align:left;
    line-height:20px;
    color:#627382;
    margin-bottom:40px;



}

#second-brain .container .text-content ul{
    list-style-type:none;
    padding:0px;
    margin:0px;

}

#second-brain .container .text-content ul li img{
    width:20px;
    height:20px;


}

#second-brain .container .text-content ul li{
    display:flex;
    gap:6px;
    font-weight:500;
    font-size:16px;
    line-height:20px;
    text-align:left;
    color:#001931;
    text-align:left;



}



/* EOF second brain */

#think{
    width:1600px;
    height:506px;
    padding:2px 120px 120px 120px;
}

#think .think-box{
    background-color: #F7F6F2;
    width:85%;
    max-width:1360px;
    height:384px;
    margin:0 auto;
    padding:80px 40px;
    display: flex;
    flex-direction: column;
    gap:100px;

}

#think .think-box .first-box{
    width:1280px;
    height:112px;
}
 
#think .think-box .first-box h2{
    font-weight:bold;
    font-size:40px;
    text-align:center;
    color:#001931;
    text-transform: capitalize;

    
}

#think .think-box .first-box p{
    margin-top:16px;
    font-size:16px;
    font-weight: 400;
    line-height:24px;
    text-align:center;
    color:#627382;
    padding:0px;
    margin:0px;

    
}

#think .think-box .second-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
}

#think .think-box .second-box button{
    display:flex;
    gap:10px;
    width:194px;
    height:52px;
    padding:16.5px 16px;
    align-items:center;
    justify-content: center;

}

#think .think-box .second-box button img{
    width:20px;
    height:20px;

}

#think .think-box .second-box p{
    font-weight:400px;
    font-size:16px;
    line-height:20px;
    color:#627382;


}

/*  EOF think box*/

/* footer */

footer{
    width:1600px;
    height:348px;
    background-color:#001931;
    padding:120px 120px 30px 120px;
    display:flex;
    flex-direction: column;
    gap:80px;

}

footer .main-foot{
    width: 85%;
    max-width:1360px;
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:0 auto;
    padding:0;
    
    
    


}

footer .main-foot .logo{
    width:350px;
    height:60px;
    
}

footer .main-foot .logo img{
    width:139px;
    height:60px;

}
footer .main-foot .links .link-logo i,p{
    color:white;
    
}

footer .main-foot .links{
    width:220px;
    height:60px;

}

footer .main-foot .links p{
    font-weight:500;
    font-size:20px;
    line-height:28px;
}

.foot-text{
    width:85%;
    max-width:1360px;
    height:54px;
    padding-top:30px;
    margin:0 auto;
}

.foot-text p{
    text-align:center;
    font-size:16px;
    font-weight: 400;
    line-height:24px;
    color:#fafafa;

}
/* *{
    border:1px solid red;
} */